services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    ports:
      - "8000:8000"
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql://ipap_db:2633@database:5432/sistema
      MERCURE_URL: http://mercure/.well-known/mercure
      MERCURE_PUBLIC_URL: http://localhost:3000/.well-known/mercure
      MAILER_DSN: smtp://mailer:1025
    volumes:
      - .:/var/www/html
    depends_on:
      - database
      - mailer
      - mercure
    networks:
      - app_network

  database:
    image: postgres:16-alpine
    container_name: symfony_db
    restart: always
    environment:
      POSTGRES_USER: ipap_db
      POSTGRES_PASSWORD: 2633
      POSTGRES_DB: sistema
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"   # <- AQUÃ el cambio importante
    networks:
      - app_network

  mailer:
    image: axllent/mailpit
    container_name: symfony_mailer
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app_network

  mercure:
    image: dunglas/mercure
    container_name: symfony_mercure
    ports:
      - "3000:80"
    environment:
      JWT_KEY: '!ChangeThisMercureSecret!'
      ALLOW_ANONYMOUS: 1
      CORS_ALLOWED_ORIGINS: '*'
      PUBLISH_ALLOWED_ORIGINS: '*'
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
